.text-editor {
	width: 490px;
	height: 250px;
	resize: none;
	background-color: #f7f7f7;
	color: #123C69;
}

.editor-buttons {
	display: flex;
	flex-direction: row;
	justify-content: justify;
	float: right;
}