html, body {
    margin: 0;
    background-color: #EEE2DC;
}

section {
    margin: -1%;
    border-color: black;
    padding: 10px;
}

.maze-screen {
    height: 400px;
    width: 400px;
    margin: 30px;
    overflow: visible;
}

.maze-button {
    float: right;
}

.square {
    background: grey;
    float: left;
    margin: 1%;
}

.exit {
    float: left;
    margin: 1%;
}

.crumb {
    float: left;
    margin: 1%;
}

.robot-up {
    float: left;
    margin: 1%;
}

.robot-right {
    transform: rotate(90deg);
    float: left;
    margin: 1%;
}

.robot-down {
    transform: rotate(180deg);
    float: left;
    margin: 1%;
}

.robot-left {
    transform: rotate(270deg);
    float: left;
    margin: 1%;
}