html, body {
	margin: 0;
}

.maze-screen {
	/*border-width: 1px;
	border-color: black;
	border-style: solid;*/
	height: 400px;
	width: 400px;
	margin: 30px;
	overflow: hidden;
}

section {
	margin: -1%;
	border-color: black;
	padding: 10px;
}

.square {
	background: grey;
	float: left;
	margin: 1%;
}