html, body {
    margin: 0;
    background-color: #EEE2DC;
}

.maze-screen {
    height: 400px;
    width: 400px;
    margin: 30px;
    overflow: hidden;
}

section {
    margin: -1%;
    border-color: black;
    padding: 10px;
}

.square {
    background: grey;
    float: left;
    margin: 1%;
}

.arrow-up {
    background: grey;
    float: left;
    margin: 1%;
}

.arrow-down {
    background: grey;
    float: left;
    margin: 1%;
}

.arrow-right {
    background: grey;
    float: left;
    margin: 1%;
}

.arrow-left {
    background: grey;
    float: left;
    margin: 1%;
}