.title {
	font-size: 75px;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-variant: small-caps;
	padding-top: 50px;
	text-align: center;
	color: #AC3B61;
}

.maze-body {
	display: flex;
	flex-direction: row;
	justify-content: justify;
	padding-top: 30px;
}

.body-right {
	margin: 30px;
}

.win-container {
	margin: 0 auto;
	text-align: center;
}

.win-screen {
	font-size: 50px;
	text-align: center;
}

.reset-button {
	float: center;
}

.command-list-and-editor {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: justify;
}
